.DS_Store
._.DS_Store
.project
.svn
.git
.idea
.bowerrc

*.swp
*.zip
*.tar
*.gz
*.log
*.apk

fms.js
fms2.js

Public/dist
Public/fis3/local
Public/fis3/test
Public/index.html

/Modules/**/*.phtml
/Views

/output
/dist
/test
/dist_offline
/node_modules

.remote-sync.json
/.vscode
